mixin post(posts)
    if posts
            each post in posts
                .card.border-dark
                    h5.card-header.bg-dark.text-white #{post.title}
                    .card-body
                        p.card-text
                            b #{post.createdDate.toDateString()}
                        p.card-text #{post.body}
                        p.card-text(class=(post.visibility === 'private' ? "text-warning" : "text-success")) #{post.visibility}
                    .card-footer
                        .like-comment
                            a.btn.btn-info.likes(href="" data-url=(post.like) data-auth=(isAuthenticated)) 
                                | Like 
                                span.badge.badge-light.likes-badge #{post.likes.length}
                            a.btn.btn-secondary.comments(href="" data-url=(post.comment) data-auth=(isAuthenticated)) 
                                | Comment 
                                span.badge.badge-light #{post.comments.length}
                        .comments-container
                            each comment in post.comments    
                                .card.border-secondary.comment-card
                                    h6.card-header.bg-secondary.text-white #{comment.commentedBy.name}
                                    .card-body
                                        p.card-text #{comment.comment}
